@model IEnumerable<UvoyageTravel.Models.Entity.DatPhong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YeuCauKhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangXuLy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YeuCauKhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangXuLy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPhieuDat }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPhieuDat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPhieuDat })
        </td>
    </tr>
}

</table>
